
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Giga:wght@100..900&family=Noto+Serif+Todhri&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

 
 
 
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    background-color: #f2f2f2;
}.slide{
    width: 220px;
    height: 100%;
    position: absolute;
    background-color: #CAD8CD;
    transition: .5s ease;
    transform: translateX(-220px);
}h1{
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    pointer-events: none;
    padding-right:5px;
    color: #1AC239;
}ul li{
    list-style: none;
}ul li a{
    color: #011a41;
    display: block;
    font-weight: 500;
    padding: 10px 0;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s ease;
}ul li a img{
    margin-left: 10px;
    margin-right: 10px;
}
ul li:hover a{
    background-color: #f2f2f2;
    
}
input{
    display: none;
    visibility: hidden;
    --webkit-appearance: none;
}.toggle{
    position: absolute;
    height: 30px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    top: 25px;
    left: 15px;
    width: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.3);
}.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.3s ease;
}.toggle .top-line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}.toggle .middle-line {

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom-line {

    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}input:checked ~ .toggle .top-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}input:checked ~ .toggle .middle-line{
   transform: translateX(20px);
   opacity: 0;
}input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgb(0, 0, 0,0.5);
}


