<label >
    <input type="checkbox">
    <div class="toggle">
        <span class="top-line common"></span>
        <span class="middle-line common"></span>
        <span class="bottom-line common"></span>
    </div>
    <div class="slide">
        <h1>Details</h1>
        <ul>
            <li><a > <img  style="width: 60px;"src="./assets/imges/favicon.png" alt=""></a></li>
            <li><a  [routerLink]="['/Menu',idrestaurant]" >  <img style="width: 20px;" src="./assets/imges/1d2404f8090310b3968a3f48eba3f326.png" alt=""> MENU</a></li>
            <li><a ><img style="width: 20px;" src="./assets/imges/shopping.png" alt=""> Order</a></li>
            <li><a ><img style="width: 20px;" src="./assets/imges/divide.png" alt=""> Sales</a></li>
            <li><a  [routerLink]="['/emplyee',idrestaurant]"><img style="width: 20px;" src="./assets/imges/emplyee.png" alt="">Emplyee </a></li>
        </ul>



        
    <div class="create">
    
        <div class="overlay">
          <p class="mb-4">back to home</p>
        </div>
       
       <div> <button class="btn-up mb-4" routerLink="/home"> <i class="fa-solid fa-plus"></i></button></div>
    </div>
    
    </div>


</label>
