
<div class="container">
    <div class="super">
        <div class="row">
            <div class="col-md-6 mx-auto col-sm-8">
                
              <form [formGroup]="formgrioup" (ngSubmit)="hellwo()">
                
                <div class="parent">
                    <div class="left">
                        <h1>register</h1>
                    </div>
                    <div class="left">
                        <div class="  taha">
                            <label  for="email">Email:</label>
                            <input type="email" class="form-control  " formControlName="email">
                         
                        </div>
        
                        
                    </div>
                    <div class="left">
                        <div class="  taha">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" formControlName="displayName">
                        </div>
                    </div>
        
                    <div class="left">
                        <div class="  taha">
                            <label for="phoneNumber">phone</label>
                            <input type="tell" class="form-control" formControlName="phoneNumber">
                          
                        </div>
                    </div>
        
                    <div class="left">
                        <div class=" taha">
                            <label for="password ">password:</label>
                            <input type="password" class="form-control label5" formControlName="password">
                            
                        </div>
                    </div>
                    <div class="left">
                        <div class="  taha">
                            <label for="text">role:</label>
                            <input type="text" class="form-control" formControlName="role">
                            
                            
                        </div>
                    </div>
                    <div class="left">
                        <div class="  taha">
                            
                            <button  (click)="hellwo()" class="btn-main d-block ms-auto">confirm</button>
                            
                        </div>
                    </div>
        
                  </div>
                 
              </form>
        
            </div>
            
            
            <div class="col-md-6  col-sm-4 ">
               <div class="imagehover">
                <picture> <img src="./assets/imges/hero-img.png" alt="" ></picture>
               </div>
        
            </div>
        </div>
    </div>

</div>
