<div class="container">
    <h1 style="color: brown;">Create New Resturant</h1>

    <section class="w-75 mx-auto taha1">
        
        <form class="mt-4" [formGroup]="forimgroup" (ngSubmit)="createrestaurant()">
            
            <div class="create">
                <label class="label" for="resturantName">Resturant Name:</label>
                <input type="text" class="form-control  " formControlName="resturantName">
                <div class="alert alert-danger messageErro mx-auto"  *ngIf="forimgroup.get('resturantName')?.errors && forimgroup.get('resturantName')?.touched">
                    <p *ngIf="forimgroup.get('resturantName')?.getError('required')"> is required</p>
                  
                   
                   
                </div>
            
            </div>
            
           
           <div class="buttons">
            <button class="btn-main" [disabled]="forimgroup.invalid" >Create</button>
            <button class="btn-main1" routerLink="/home">Back To List</button>
           </div>
          
            
        </form>
       
    </section>
   
</div>
