<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img style="width: 50px;" src="./assets/imges/favicon.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
               
    <li class="nav-item">
        <a class="nav-link" routerLink="home">home</a>
      </li>
      
      
      
      
     
          
         
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         
               
            <li class="nav-item">
                <a class="nav-link" >
 
                    <i class="fa-brands fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" > <i class="fa-brands fa-tiktok"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >
 
                    <i class="fa-brands fa-linkedin"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >
 
                    <i class="fa-brands fa-youtube"></i></a>
              </li>
              <li class="nav-item">
                <span class="nav-link cursor-pointer"  routerLink="/login" >signout</span>
              </li>
             
              
              
              
              
             
                  
                 
                </ul>
      
      </div>
    </div>
  </nav>




<div class="container">

    <section *ngIf="details.length>0 ;else name">
        <div class="parent"*ngFor="let item of details"  >
            <div class="child mirenchild">
                <button class="btn btn-main1"><i class="fa-solid fa-utensils"></i></button>
             <p> {{item.resturantName}}</p>
                 

            </div>
            <div class="child">
                
                <div class="child1">
                    <button class="btn-main1"(click)="deletrestaurant(item.id)" ><i class="fa-solid fa-trash" ></i></button>
                <button class=" btn-main1" style="   background-color: #d9d9d9;" [routerLink]="['/updata',item.id]" ><i class="fa-solid fa-file-pen  " ></i></button>
    
                <button class=" btn-main1" style=" background-color: #67c100;" [routerLink]="['/Menu',item.id]" ><i class="fa-solid fa-right-long"></i></button>
                </div>
           
    
            </div>
           
        </div>

    </section>
    
   
     <ng-template  #name> <h2 class="text-center">
     <h1 class="message-length" >
        There are no <br>
        Restaurants found.....
     </h1>
    </h2>
        
       </ng-template>
       <div class="create">
    
        <div class="overlay">
            <p>create<br>
                Restaurant</p>
        </div>
       
       <div> <button class="btn-up" routerLink="/create"> <i class="fa-solid fa-plus"></i></button></div>
    </div>
    

</div>
